# app config
APP_PORT=
APP_TITLE=
APP_DESCRIPTION=
APP_VERSION=
BASE_URL=

# database config
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SYNCHRONIZE=
DATABASE_LOGGING=
DATABASE_MAX_CONNECTIONS=
DATABASE_SSL_ENABLED=
DATABASE_REJECT_UNAUTHORIZED=
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# jwt config
JWT_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

# mail config
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=
MAIL_SECURE=
MAIL_REQUIRE_TLS=
MAIL_DEFAULT_EMAIL=
MAIL_DEFAULT_NAME=
MAIL_CLIENT_PORT=

# redis config
REDIS_HOST=
REDIS_PORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=